body {
  background: linear-gradient(180deg, #fdfcfb 0%, #e2d1c3 100%);
  background-color: #e2d1c3;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: fantasy;
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  color: #596e79;
}

.wrapper {
  margin: 120px auto;
  max-width: 600px;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.form-wrapper {
  padding: 30px;
  background-color: #f0ece2;
  border-radius: 10px;
  box-shadow: 0 20px 60px rgba(77, 76, 79, 0.08);
  margin-bottom: 20px;
}

.poem-prompt {
  font-size: 16px;
  background-color: white;
  color: #596e79;
  padding: 10px;
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 0 30px 50px rgba(77, 76, 79, 0.08);
  opacity: 0.8;
}

.grow {
  flex-grow: 2;
}

.submit-poem {
  color: white;
  font-size: 16px;
  background-color: #c7b198;
  margin-top: 5px;
  border-radius: 4px;
  border: none;
  padding: 10px 43px;
}

.hint {
  color: #72787b;
  line-height: 1.5;
  padding-top: 5px;
  font-size: small;
  opacity: 0.8;
}

.hidden {
  display: none;
}

.returned-poem {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: white;
  color: #596e79;
  font-size: 18px;
  line-height: 2;
  border-left: 2px solid #c7b198;
  border-right: 2px solid #c7b198;
  box-shadow: 0 20px 60px rgba(77, 76, 79, 0.08);
  border-radius: 4px;
}

footer {
  text-align: center;
  color: #596e79;
  margin-top: 30px;
  font-size: 13px;
}

footer a {
  color: #596e79;
}

@media (max-width: 400px) {
  .hint {
    text-align: center;
  }
}
